@{
    ViewData["Title"] = "Cocktail";
}
@model System.Collections.Generic.List<RecommendationSystem.Models.Drink>?

<h1>Cocktails</h1>

@if (Model?.Count > 0 )
{
<ul>
    @foreach (var cocktail in Model)
    {
    <li>ID: @cocktail.idDrink, Name: @cocktail.strDrink</li>
    }
</ul>
}
else
{
<p>No cocktails found.</p>
}
